html,
body {
    background-color: #feffa9;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

h1{
    color: red;
    text-align: center;
    font-family: 'Titan One', cursive;
}

/* #display-gifs {
    border-style: solid;
    border-color: blue;
} */

#add-superhero,
#display-buttons,
.superhero-button{
    padding: 10px;
    margin: 10px;
}

#superhero-input{
    border-style: solid;
    border-color: red;
    text-align: center;

}

